.header {
  position: relative;
  max-width: 1140px;
  padding: 20px;
  margin: 0 auto;
  outline: 1px dotted darkslategrey;
  transition: 0.25s;
}

.header-content-wrap {
  display: flex;
  align-items: center; 
}

.logo-link {
  margin-right: 3.5%;
  width: 16.5%;
  
  img {
    height: 100%;
    width: 100%;
  }
}

.auth {
  font-size: 12px;
  text-transform: uppercase;
  position: absolute;
  right: 20px;
}
.auth-mobile,
.burger {
  display: none;
}
.auth-mobile {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 16px;
  height: 17px;

  &::before {
    content: '';
    position: absolute;
    display: block;
    border-radius: 50%;
    border: 1px solid #68CBB3;
    width: 14px;
    height: 14px;
    top: 9px
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    border-radius: 50%;
    border: 1px solid #68CBB3;
    width: 6px;
    height: 6px;
    left: 4px;
  }
}

.burger.active::after,
.burger.active::before,
.burger.active span {
  background-color: #fff;
}
.burger.active::after {
  transform: rotate(-45deg);
  bottom: 8px;
}
.burger.active::before {
  transform: rotate(45deg);
  top: 9px;
}
.burger.active span {
  transform: scale(0);
}

.navigation {
  font-size: 14px;
  text-transform: uppercase;

  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 40px 0 0 0;
  }
  
  li {
    margin-right: 20px;
  }
}

@media (max-width: 900px) {
  .navigation {
    ul {
      margin: 30px 0 0 0;
    }
  }  
}

@media (max-width: 710px) {
  .header.active {
    background-color: #383838;
    color: #fff;
  }

  .header-content-wrap {
    justify-content: space-between;
  }

  .navigation {
    display: none;
  }
  .navigation.active {
    display: block;
    
    ul {  
      flex-direction: column;
      margin: 37px 0 30px 0;

      li {
        margin-bottom: 20px;
      }
    }
  }

  .header {
    .auth, 
    button {
      display: none;
    }

    .logo-link {
      height: 31px;
      width: 112px;
      margin: 0;
    }
  }

  .auth-mobile,
  .burger {
    display: block;
  }

  .burger {
    cursor: pointer;
    position: relative;
    width: 24px;
    height: 18px;
  }
  .burger span,
  .burger::after,
  .burger::before {
    content: '';
    transition: 0.25s;
    position: absolute;
    background-color: #383838;
    width: 100%;
    height: 1px;
  }
  .burger span {
    top: 9px;
  }
  .burger::after {
    bottom: 0;
  }
  .burger::before {
    top: 0;
  }
}
