@import "../abstracts/variables";
@import "../abstracts/mixins";

.filters,
section {
  display: flex;
  justify-content: center;
}

.section-inner {
  position: relative;
  width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.candidates-wrap {
  margin: 0 auto;
  margin-bottom: 80px;
}

.candidate-card,
.add-profile {
  width: 182px;
  height: 346px;
}

.candidates > .section-inner {
  padding-top: 100px;
  display: block;
}

.candidates {
  background-color: $base-color-ultralite;

  h2 {
    color: #383838;
    font-size: 48px;
    font-weight: 300;
    letter-spacing: 0;
    margin: 0 0 40px 0;
  }
}

.candidate-card {
  position: relative;
  border-radius: 5px;
  transition: 0.2s;

  &:hover {
    box-shadow: 0 0 2px 1px $base-color;
  }
}

.candidate-photo-wrap {
  height: 238px;

  img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
    width: 100%; 
    height: 100%;
    object-fit: cover;
  }
}

.summary {
  box-sizing: border-box;
  height: 108px;
  padding: 8px;
  @include light-border;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; 
  border-top: none;
  background-color: $color-white;

  p {
    margin: 0 0 5px 0;
    color: $color-dark;
    letter-spacing: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.name {
  height: 40px;
}
.role {
  font-size: 14px;
  font-weight: 300;
  height: 24px;
}
.age {
  font-size: 14px;
}

.add-profile {
  border-radius: 5px;
  background-color: #7C4D82;
  color: $color-white;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 10px;
  box-sizing: border-box;

  &::before {
    content: url('../../assets/images/plus-icon.svg');
    cursor: pointer;
    display: block;
    margin-bottom: 8px;
  }
}

@media (max-width: 890px) {
  .candidates > .section-inner {
    padding-top: 50px;
  }
  .candidates {
    h2 {
      font-size: 36px;
      margin-bottom: 20px;
    }
  }
  .candidate-card,
  .add-profile {
    width: 172px;
    height: 336px;
  }
}

@media (max-width: 710px) {
  .candidates {
    h2 {
      font-size: 30px;
      margin-bottom: 13px;
    }
  }
}

@media (max-width: 480px) {
  .candidate-card,
  .add-profile {
    width: 130px;
    height: 286px;
  }

  .candidate-photo-wrap {
    height: 150px;
  }

  .summary {
    height: 136px;
  }

  .name,
  .age {
    font-size: 14px;
  }
  .name {
    height: 55px;
  }
  .role {
    height: 37px;
    font-size: 12px;
  }
  .age {
    height: 18px;
  }
}
