.banner {
  background-color: $base-color-lighter;
}

.banner-wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.image-container {
  max-height: 400px;
  max-width: 480px;
  overflow: hidden;
  width: 50%;

  img {
    width: 100%;
  }
}

.artcasting {
  width: 50%;
  color: $color-white;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: center;

  h2 {
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0;
    font-size: 48px;
  }

  p {
    font-size: 20px;
    margin: 20px 0 30px 0;
  }

  button {
    color: $base-color;
    background-color: $color-white;
    padding: 14px 28px;
    width: 168px;
    text-align: center;
    font-size: 14px;
    white-space: nowrap;

    &:hover {
      background-color: #F1F1F1;
    }
  }
}

.banner-slide-controller {
  margin: 0 auto;
  position: absolute;
  width: 137px;
  border: 1px solid red; 
}

@media (max-width: 890px) {
  .artcasting {
    h2 {
      font-size: 36px;
    }
    p {
      font-size: 18px
    }
  }
}

@media (max-width: 710px) {
  .banner > .section-inner {
    justify-content: center;
  }
  .banner-wrap {
    flex-direction: column;
    align-items: center;
  }

  .artcasting,
  .image-container {
    width: 100%;
  }

  .artcasting {
    margin-top: 30px;
    margin-bottom: 80px;

    h2 {
      font-size: 36px;
    }
    p {
      font-size: 18px
    }
    button {
      width: 100%;
    }
  }
}
