@import "../abstracts/variables";


.colored-btn,
.transparent-btn {
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  outline: none;
  border-radius: 6px;

  padding-left: 2.2%;
  padding-right: 2.2%;

  // font-family: PF Highway Sans Pro;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-align: left;
}

.transparent-btn {
  background-color: transparent;
  border: 1px solid $base-color-darker;
  padding-top: 12px;
  padding-bottom: 12px;
}

.colored-btn {
  background-color: $base-color-darker;
  color: #fff;
  padding-top: 13px;
  padding-bottom: 13px;
}

// @media (max-width: )
