@import "../abstracts/variables";
@import "../abstracts/mixins";

.dropdown-styles {
  user-select: none;
  margin-right: 10px;

  &.active-dropdown {
    .dropping-block {
      display: block;
    }

    .selected {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-color: $base-color;

      &::after {
        transform: rotateX(180deg);
      }
    }
  }
}

.dropdown-styles,
.dropping-block {
  width: 182px;
  font-size: 14px;
}

.dropping-block,
.selected {
  background-color: $color-white;
}

.dropping-block {
  position: absolute;
  z-index: 9;
  @include light-border;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0px 8px 13px 4px rgba(30, 30, 30, 0.1);
  display: none;
}

.selected {
  @include light-border;
  border-radius: 5px;
  position: relative;
  cursor: pointer;

  &::after {
    content: url('../../assets/images/down-arrow.svg');
    position: absolute;
    right: 15px;
    transition: 0.15s;
  }
}

.selected,
.option {
  padding: 10px 15px;
}

.option {
  transition: 0.15s;
}

.option:hover {
  color: $base-color;
}
